/* GLOBALS*/
* {
    margin: 0;
    padding: 0;
}

body {
    color: #2f5579;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
 	background-color: #d3dadf ;
    background-repeat: no-repeat;
}

a, a:visited, a:active{
	color : #2f5579;
	text-decoration : none;
}

/* UTILS */

.right {
	float : right;
}

.left {
	float : left;
}

/*HEADER */


.top {
    position: relative;
	height : 60px;
	background-image : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA7CAIAAAA1lncVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNJREFUeNpcTbsOgDAIhEtM//+nXFzcTYxfoU6chRKrHcgB98K2HzivGyQhIjGkI3P//vnj33vQOt93RwXNIFp9lTNa+wU2Tc/UxNYpzmWXhifv7B3zXeP5oU2+TAXrMj8CDAA+VFkbUEmEBAAAAABJRU5ErkJggg==);
	min-width : 840;
}

.top h1 {
	float: left;
	width: 165px;
	height: 60px;
	background: url('../images/mobi-min.png') 15px 0 no-repeat;
	text-indent: -3000px;
}

.top h3{
	float: left;
	width: 190px;
	height: 40px;
	margin-top: 15px;
	margin-left: -0px;
	text-indent: -3000px;
}

/* USER INFORMATION */

#user-info{
	margin : 0 0 0 90px;
	padding : 2px 5px;
	border-left : 2px dashed #A1A4A8;
}

#user-info .user {
	background: url(../images/user.png)  0px 2px no-repeat;
	padding-left: 15px;
}

#user-info .email {
	background: url(../images/at.png) 0px 2px  no-repeat;
	padding-left: 15px;
}

#user-info .domain {
	background: url(../images/domain.png) 0px 2px no-repeat;
	padding-left: 15px;
}

/* MENU TOP*/

#menu ul {
    float: left;
    list-style:none;
}

#menu ul li { 
/*	display: inline; */
	float : left;
	position : relative;
}

#menu li span{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 7px;
	width: 50px;
	height: 45px;
}

#menu li a {
	display: block;
	position: relative;
	text-decoration: none;
	font-size: 13px;
	line-height: 80px;
	padding: 0 15px;
}

li.refrash span{
	background : url(../images/reload.png) 14px 0 no-repeat ;
}

li.download span{
	background : url(../images/download.png) 16px 0 no-repeat ;
}

li.check span{
	background : url(../images/pin.png) 14px 0 no-repeat ;
}

li.about span{
	background : url(../images/info.png) 20px 0 no-repeat;
}

/* CORE MAIN */
.main {
	min-width : 1024px;
}
.main h2 {
    font-size: 38px;
    line-height: 1;
}

.main h3 {
    font-size: 22px;
    margin: 50px 0 10px;
}

/* RELATIONS */
#relation {
	background-color : #f5f9fc;
	border: 1px solid #a1a4a8;
	float : left;
	width : 24.6%;
	min-height :510px;
	min-width : 250px;
}


.header .action{
	float : right;
	border-left: 1px solid #A1A4A8;
	padding-left: 5px;
}

.header .add img {
	padding: 12px;
	border-right : none;
}


.add img {
	padding: 7px;
	border-right: 1px solid #A1A4A8;
	border-left: 1px solid #A1A4A8;
	vertical-align: middle;
}

/* MAP RELATIONS */

#map-relation .header {
	padding: 0 0 0 5px;
	height: 33px;
	line-height: 33px;
	font-size: 12px;
    font-weight: bold;
	background: url('../images/file_head.gif') 0 0 repeat-x #EEE;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}

#map-relation {
	height: 340px;
	margin-botton: 10px;
}


/* OPTIONS */

#options{
	margin-top: 0px;
	background-color : #f5f9fc;
	height: 190px;
	min-height : 210px ;
}

#options .actions {
	border : 0.1em solid #a1a4a8;
	border-left : none;
	border-right : none;
	height : 25px;
	font-size: 13px;
    font-weight: bold;
	background: url('../images/file_head.gif') 0 0 repeat-x #EEE;
}

/* OPTIONS INPUT */

#options input[type=text]{
	border: 1px solid #F5F9FC;
    border-radius: 2px 2px 2px 2px;
    margin: 12px;
    padding: 3px;
    width: 120px;
	text-align : center;
}

#options input[type=text]:focus{
	border: 1px solid #4D4D4D;
}

/*Graphic*/

#graph {
	background-color : #f5f9fc;
	border: 1px solid #b9c0c3;
	float : left;
	width : 75%;
	height: 366px;
	min-width : 760px;
	margin-top : -20px;
}

#graph .header {
	padding: 0 0 0 5px;
	height: 33px;
	line-height: 33px;
	font-size: 12px;
/*	color: #4183C4;*/
    font-weight: bold;
	background: url('../images/file_head.gif') 0 0 repeat-x #EEE;
/*	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);*/
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}

/* OTHERS */

.button {
    border: 1px solid #FFFFFF;
    -moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
    padding: 2px 8px;
    text-decoration: none;
}

.box{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}


/* AUTH Ballon */

#auth { 
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width : 470px;
	  height : 270px;
	  margin: auto;
	  background: url(../images/logo-mobi.png) 0 0 transparent;
	  text-shadow:  1px 0px white;
}

#auth .form {
	color : #2f5579;
	margin : 40px 150px 0px 40px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#auth .form .field{
	width: 191px;
	height: 27px;
	background: url(../images/textfield.png) no-repeat;
	margin-bottom: 15px;
	margin-top: 2px;
}

#auth .form #button {
	width: 150px;
	margin: auto;
}

#auth .form .button-form {
    border: 1px solid #FFF;
    background-color: #2f5579;
    color : #fff;
    -moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
    padding: 2px 8px;
    text-decoration: none;
}

#auth .form input[type="text"]{
	width: 183px;
	height: 22px;
	background: none;
	border-style: hidden;
	margin-top: 2px;
	font-size: 13px;
	text-align: center;
	border-width: 1px;
	margin-left: 4px;
}

#auth .form .error{
	color: red;
	margin-top: -20px;
	margin-bottom: 10px;
}